<div *ngIf="albumData.photos.length > 0">
    <header class="imageTitle" id="txtTitle">{{albumData.selected.title}}</header>
    <div class="mainSection">
        <div>
            <img class="mainSection__image" id="imgCenter" src="assets/{{albumData.selected.source}}" alt="image"/>
            
            <div class="mainSection__panel">
                <div id="txtSubtitle" class="panel__description" [innerHTML]="albumData.selected.caption"></div>
                <div class="panel__switchImgBtns">    
                    <button (click)="previousImage()" [disabled]="btnPrevious" [ngClass]="{'disabled' : btnPrevious}"><i id="btnPrevious" class="fas fa-chevron-circle-left"></i></button>
                    <button (click)="nextImage()" [disabled]="btnNext" [ngClass]="{'disabled' : btnNext}"><i id="btnNext" class="fas fa-chevron-circle-right"></i></button>
                </div>
            </div>
            <div class="mainSection__imageCount">Image&nbsp;<div id="txtImageNum">{{(albumData.image + 1)}}</div>&nbsp;of&nbsp;<div id="txtImageTotal">{{albumData.photos.length}}</div></div>
        </div>
        <div class="mainSection__buttons">
            <button><i id="icoJumpTo" class="fas fa-th-large" (click)="jumpButton()"></i></button>
            <app-jump *ngIf="showJump == true"></app-jump>
            <button><i id="icoOpenComment" class="far fa-comments" (click)="commentButton()"></i></button>
            <app-comment *ngIf="showComment == true"></app-comment>
        </div>
    </div>
    <section class="commentSection">
        <h3 class="imageTitle">Comments</h3>
        <div class="commentSection__block" *ngFor="let comment of albumData.selected.comments">
            <h4 class="commentSection__author">{{comment.author}}</h4>
            <div class="commentSection__comment">{{comment.comment}}</div>
        </div>
    </section>
</div>
<div class="noImages-overlay" *ngIf="albumData.photos.length == 0">
    <h1 class="noImages-overlay__header">No images to display</h1>
</div>