<form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
    <div id="boxComment">
        <div class="popUpBox__author"><p>Author:</p>&nbsp;<input type="text" maxlength="30" id="txtAuthor" formControlName="author" required></div>
        <div class="popUpBox__comment"><textarea id="txtComment" rows="8" cols="60" maxlength="200" name="comment" formControlName="comment" required></textarea></div>
        <div class="popUpBox__icons">
            <button id="btnSendComment" type="submit" [disabled]="!commentForm.valid" [ngClass]="{'disabled' : !commentForm.valid}"><i id="icoSend" class="fas fa-paper-plane"></i></button>
            <button id="btnCancelComment" type="reset" (click)="revert()"><i class="fas fa-ban"></i></button>
        </div>
    </div>
</form>